@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@700&display=swap');

:root {
    --bg-primary: #117050;
}

/* * & BODY */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */
.header__bar {
    height: 10px;
    background-color: var(--bg-primary);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header__logo {
    width: 64px;
    height: 64px;
}

.header__search-menu-area {
    display: flex;
    align-items: center;
}

.header__search-form {
    display: flex;
}

.header__search-input {
    width: 100%;
    max-width: 250px;
    padding-left: 15px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #999;
    outline: 0;
}
.header__search-input::placeholder {
    font-size: 16px;
}

.header__search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -35px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.header__search-icon {
    width: 16px;
    height: 16px;
}

.header__menu {
    margin-left: 70px;
}

.header__menu-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* BANNER */
.banner {
    padding-top: 90px;
    padding-bottom: 90px;
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
}

.banner__h1 {
    margin-bottom: 30px;
}

.banner__image-area {
    margin-top: 60px;
}

.banner__image {
    width: 148px;
    height: 148px;
    margin-right: 30px;
    border: 6px solid var(--bg-primary);
    border-radius: 50%;
}

/* AREA1 */
.area1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area1__content {
    padding: 80px;
}

.area1__h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.area1__quote {
    font-style: italic;
}

.area1__background1 {
    height: 350px;
    background-image: url('../images/f2.jpg');
    background-position: center;
    background-size: cover;
}

.area1__background2 {
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
    background-image: url('../images/f1.jpg');
    background-position: center;
    background-size: cover;
}

/* AREA2 */
.area2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area2__content {
    padding: 80px;
}

.area2__h2 {
    margin-top: 30px;
}

.area2__background1 {
    height: 450px;
    background-image: url('../images/f4.jpg');
    background-position: center;
    background-size: cover;
}

.area2__background2 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
    background-image: url('../images/f3.jpg');
    background-position: center;
    background-size: cover;
}

/* AREA3 */
.area3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area3__content {
    padding: 160px 80px;
    background-image: url('../images/bg2.jpg');
    background-position: left;
    background-size: cover;
}

.area3__h2 {
    margin-top: 30px;
}

.area3__background {
    background-image: url('../images/f5.jpg');
    background-position: center;
    background-size: cover;
}

/* AREA4 */
.area4 {
    display: grid;
    grid-template-columns: 470px 1fr;
    background-color: #E8E9EE;
}

.area4__content {
    padding: 160px 80px;
}

.area4__h2 {
    margin-top: 30px;
}

.area4__background {
    background-image: url('../images/bg3.jpg');
    background-position: left;
    background-size: cover;
}

/* CONTAINER, H1, H2, P, BAR, BUTTON */
.container {
    width: 100%;
    max-width: 1140px;
    margin: auto;
}

.h1 {
    line-height: 90px;
    font-family: 'Oswald', sans-serif;
    font-size: 90px;
    font-weight: bold;
}

.h2 {
    line-height: 45px;
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    font-weight: bold;
}

.p {
    margin-top: 30px;
    margin-bottom: 60px;
    line-height: 24px;
}

.bar {
    width: 168px;
    height: 22px;
    background-color: var(--bg-primary);
}

.button {
    padding: 10px 40px;
    border: 2px solid #454545;
    border-radius: 3px;
    text-decoration: none;
    color: #454545;
}
.button:hover {
    background-color: #454545;
    color: #FFF;
}

/* MEDIA */
@media (max-width: 500px) {

    /* HEADER */
    .header__search-input {
        max-width: 180px;
    }

    .header__menu {
        margin-left: 35px;
    }

    /* BANNER */
    .banner__image {
        width: 80px;
        height: 80px;
        margin-right: 10px;
        border-width: 3px;
    }

    /* AREA1 */
    .area1 {
        grid-template-columns: 1fr;
    }

    .area1__content {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* AREA2 */
    .area2 {
        grid-template-columns: 1fr;
    }

    .area2__content {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* AREA3 */
    .area3 {
        grid-template-columns: 1fr;
    }

    .area3__content {
        padding: 80px 20px;
    }

    /* AREA4 */
    .area4 {
        grid-template-columns: 1fr;
    }

    .area4__content {
        padding: 80px 20px;
    }

    /* CONTAINER, H1, H2 */
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .h1 {
        line-height: 45px;
        font-size: 45px;
    }

    .h2 {
        line-height: 22.5px;
        font-size: 22.5px;
    }

}